<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button color="light" autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title style="margin-right:50px;" class="title" class="ion-text-center">
          Pharmacy locator Application
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animated fadeIn login auth-page">
  <div class="login-content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input type="text" [(ngModel)]="searchText" [ngModelOptions]="{ standalone: true }"
            placeholder="Search by medicine"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!loading && medicine">
    <ion-list *ngFor="let user of medicine | filter: searchText" tappable>
      <ion-item (click)="postData(user)" [routerLinkActive]="['router-link-active']" [routerLink]="['/view-medicine', user]">
        <ion-thumbnail slot="start">
          <img src="https://techpharm.pythonanywhere.com{{ user.pharmacy.pharmacy_logo }}">
        </ion-thumbnail>
        <ion-label>
          <h1 color="primary">{{ user.product_name }}: ${{ user.productprice }}</h1>
          <h2 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ user.pharmacy.pharmacy_name }}</h2>
        </ion-label>
        <ion-icon name="arrow-forward" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="loading">
    <div class="text-center" style="align-content: center;">
      <img class="ion-text-center" style="width: 100%;margin: auto;" src="assets/icon/loader.gif">
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
      <form class="list-form">
          <ion-fab-button>Map</ion-fab-button>
      </form>
  </ion-toolbar>
</ion-footer>
